.checkout-container {
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}
